/* ====== imports ====== */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Fraunces:wght@700&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* ====== variables & globals ====== */
:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}
* {
  box-sizing: border-box;
}

/* ====== colors ====== */


/* ====== main ====== */
p{
  font-size: 18px;
  color: var(--Medium-Gray);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* ====== responsive ====== */
@media (max-width: 375px) {

}
@media (max-width: 1440px) {
}